@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}
.conatainer{
    max-width: 65vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header{
    margin-bottom: 2.8rem;
}
.heading-title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font: weight 700;
    text-align: center;
}
.heading-desc {
    text-align: center;
    max-width: 568px;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}
.main-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width:650px) {
    .main-container{
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media (min-width:1080px) {
    .main-container{
        grid-template-columns: repeat(3, 1fr);
    } 
}
@media (min-width:1340px) {
    .main-container{
        grid-template-columns: repeat(4, 1fr);
    } 
}

.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(64, 63, 63);
    border-radius: 8px;
    overflow: hidden;
 
     
}
.card-image-container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}
.card-image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card-title-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card-container:hover .card-image{
     transform: scale(1.1);
     transition-duration: 200ms;
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(41, 37, 37); 
}
 
.card-title-a:hover .card-title{
    color: rgb(44, 44, 201);
}
.card-desc{
    color: rgb(97, 97, 97);
    font-size: 1rem;
}
.card-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
     
}
.author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author-avatar-container{
    height: 2.5rem;
    width: 2.5rem;
   overflow: hidden;
   border: 1px solid rgb(63, 63, 63); 
   border-radius: 50%;
   background-color: rgb(150, 147, 147);
}
.author-info-container{
    display: flex;
    flex-direction: column;
}
.card-tag-container{
font-size: 0.79rem;
border: 1px solid rgb(30, 22, 22);
line-height: 1.3rem;
border-radius: 4px ;
padding: 0.25rem 0.4rem;
color: rgb(111, 75, 75);
 
    }


    