@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
    width: 380px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
 .wrapper .heading{
    line-height: 100px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}
 .wrapper form {
    padding: 10px 30px 50px 30px;
}
 .wrapper form  .field{
     height: 50px;
     width: 100%;
     margin-top: 20px;
     position: relative;
}
 input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
}
input:focus,
input:valid{
    border-color: #4158d0;
}
label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #221818;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
input:focus ~ label,
input:valid ~ label
{
    top: 0%;
    font-size: 15px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}
.pass-link{
    color: #4158d0;
    margin: 8px 0 0 10px;
}
.field input[type="submit"]{
    url(background:%20linear-gradient%28-135deg%2C%20#c850c0%2C%20%234158d0%29%3B)
}





