*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#container{
    display: flex;
    width: 100vw;
    height: 100vh;
     
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #f1f0f0;   
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#nav-r{
    display: flex;
    align-items: center;
}
    #nav-r a{
        margin-right: 20px ;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 14px;
    }
   #left #textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   #textcenter h1 {
    font-size: 90px;
    font-weight: 900;
   }
   #textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
   }
    #textcenter a {
        text-decoration: none;
        color: #000;
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 600;
        opacity: .6;
    }
    #right{
        width: 60%;
    height: 100%;
     
}
#r-top{
    display: flex;
    width: 100%;
    height: 50%;
    
} 
#r-bottom{
    width: 100%;
    height: 50%;
    background-image: url(img/a-row-of-different-fruit-and-vegetables.webp);
    background-size: cover;
    background-position: center;
} 
#r-top-left{
    width: 55%;
    height: 100%;
    background-image:url(img/360_F_256779476_cajO5S3wSp8vFY5TNtE061ZylEAG2BwV.webp) ; 
    background-size: cover;
    background-position: center;
}
#r-top-right{
    width:45%;
    height: 100%;
    background-image: url(img/armed-cactus.webp);
    background-size: cover;
    background-position: center;
}
@media(max-width:500px){
    #container{
        flex-direction: column;
    }
    #container #left {
        width: 100%;
    }
    #container #right {
        width: 100%;
    }
}